<div class="card">
  <div class="card-header">
    <div class="card-title fw-bold text-center">
      {{ cardTitle }}
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="branchFormGroup" novalidate autocomplete="off" (ngSubmit)="emitEvent()">
      <div class="md-3 required">
        <label>Name:</label>
        <input type="text" class="form-control" formControlName="branchName">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'branchName', 'required') && _genericValidation.validateControl(branchFormGroup, 'branchName')">Branch Name is required</span>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'branchName', 'maxlength') && _genericValidation.validateControl(branchFormGroup,'branchName')">Only 100 characters are allowed for Branch Name</span>
      </div>
      <div class="md-3 required">
        <label>Email Address:</label>
        <input type="text" class="form-control" formControlName="emailAddress">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'emailAddress', 'required') && _genericValidation.validateControl(branchFormGroup, 'emailAddress')">Email is required</span>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'emailAddress', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'emailAddress')">Only 100 characters are allowed for Email</span>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'emailAddress', 'email') && _genericValidation.validateControl(branchFormGroup, 'emailAddress')">Invalid Email format</span>
      </div>
      <div class="md-3 required">
        <label>Land Line:</label>
        <input type="text" class="form-control" formControlName="landLine">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'landLine', 'required') && _genericValidation.validateControl(branchFormGroup, 'landLine')">Land Line is required</span>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'landLine', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'landLine')">Only 20 characters are allowed for Land Line</span>
      </div>
      <div class="md-3 required">
        <label>Fax No:</label>
        <input type="text" class="form-control" formControlName="faxNo">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'faxNo', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'faxNo')">Only 20 characters are allowed for Fax No</span>
      </div>
      <div class="md-3 required">
        <label>Street No:</label>
        <input type="text" class="form-control" formControlName="streetNo">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'streetNo', 'required') && _genericValidation.validateControl(branchFormGroup, 'streetNo')">Street No is required</span>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'streetNo', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'streetNo')">Only 50 characters are allowed for Street No</span>
      </div>
      <div class="md-3 required">
        <label>Address Line 1:</label>
        <input type="text" class="form-control" formControlName="addressLine1">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'addressLine1', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'addressLine1')">Only 255 characters are allowed for Address Line 1</span>
      </div>
      <div class="md-3 required">
        <label>Address Line 2:</label>
        <input type="text" class="form-control" formControlName="addressLine2">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'addressLine2', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'addressLine1')">Only 255 characters are allowed for Address Line 2</span>
      </div>
      <div class="md-3 required">
        <label>Province:</label>
        <select class="form-control" formControlName="provinceId" (change)="onSelectedProvince($any($event.target).value)">
          <option selected disabled value="">Please select</option>
          <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
        </select>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'provinceId', 'required') && _genericValidation.validateControl(branchFormGroup, 'provinceId')">Province is required</span>
      </div>
      <div class="md-3 required">
        <label>City:</label>
        <select class="form-control" formControlName="cityId">
          <option selected disabled value="">Please select</option>
          <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
        </select>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'cityId', 'required') && _genericValidation.validateControl(branchFormGroup, 'cityId')">City is required</span>
      </div>
      <div class="md-3 required">
        <label>Postal Code:</label>
        <input type="text" class="form-control" formControlName="postalCode">
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'postalCode', 'required') && _genericValidation.validateControl(branchFormGroup, 'postalCode')">Postal Code is required</span>
        <span class="text-danger" *ngIf="_genericValidation.hasError(branchFormGroup, 'postalCode', 'maxlength') && _genericValidation.validateControl(branchFormGroup, 'postalCode')">Only 10 characters are allowed for Postal Code</span>
      </div>
      <br/>
      <div class="col-md-12 text-end">
        <button class="btn btn-primary" type="submit" [disabled]="!branchFormGroup.valid">Submit</button>
        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
