<div class="row">
  <div class="col-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center fw-bold">
          <i class="bi bi-person-lock fs-5"></i>
          Reset Password
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <span class="input-group-text required">New Password:</span>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <span class="text-danger" *ngIf="_genericValidation.hasError(resetPasswordForm, 'password', 'required') && _genericValidation.validateControl(resetPasswordForm, 'password')">Password is required</span>
          <span class="text-danger" *ngIf="_genericValidation.hasError(resetPasswordForm, 'password', 'maxlength') && _genericValidation.validateControl(resetPasswordForm, 'password')">Password cannot exceed 20 characters</span>
          <span class="text-danger" *ngIf="_genericValidation.hasError(resetPasswordForm, 'password', 'minlength') && _genericValidation.validateControl(resetPasswordForm, 'password')">Password must be at least 6 characters long</span>
          <div class="input-group mb-3">
            <span class="input-group-text required">Confirm Password:</span>
            <input type="password" class="form-control" formControlName="confirmPassword"/>
          </div>
          <span class="text-danger" *ngIf="_genericValidation.hasError(resetPasswordForm, 'confirmPassword', 'required') && _genericValidation.validateControl(resetPasswordForm, 'confirmPassword')">Confirm Password is required</span>
          <span class="text-danger" *ngIf="_genericValidation.hasError(resetPasswordForm, 'confirmPassword', 'mustMatch') && _genericValidation.validateControl(resetPasswordForm, 'confirmPassword')">Password must match</span>
          <div class="col-12">
            <button class="btn btn-primary rounded-pill w-100" [disabled]="!resetPasswordForm.valid" type="submit">Submit</button>
            <button class="btn btn-secondary rounded-pill w-100" (click)="onCancel()">Cancel</button>
          </div>
          <app-response-message [success]="success" [message]="responseMessage"></app-response-message>
        </form>
      </div>
    </div>
  </div>
</div>
