<div class="navbar navbar-expand-lg bg-primary ps-4">
  <a class="navbar-brand text-white" routerLink="/">Appointment System</a>
  <div class="dropdown ms-auto mb-2 mb-lg-0" *ngIf="isAuthenticated">
    <a class="btn bg-primary dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Username
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a class="dropdown-item" (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!isAuthenticated" class="ms-auto mb-3 mb-lg-0">
    <a routerLink="['/account/signup']" class="text-white text-decoration-none">
      <i class="bi bi-box-arrow-in-up"></i>
      Sign Up</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row vh-100 overflow-auto">
    <div class="col-12 col-sm-3 col-xl-3 px-0 d-flex sticky-top">
      Left menu here
    </div>
    <div class="col d-flex flex-column h-sm-100">
      <main class="row overflow-auto pt-4">
        <router-outlet/>
      </main>
    </div>
  </div>
</div>
