<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center fw-bold">
          <i class="bi bi-eye-slash-fill"></i>
          Forgot Password
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="forgotPasswordForm" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
          <div class="mb-3 input-group">
            <span class="input-group-text required">Email:</span>
            <input type="text" class="form-control" formControlName="email">
          </div>
          <span class="text-danger" *ngIf="_genericValidation.hasError(forgotPasswordForm, 'email', 'required') && _genericValidation.validateControl(forgotPasswordForm, 'email')">Email is required</span>
          <span class="text-danger" *ngIf="_genericValidation.hasError(forgotPasswordForm, 'email', 'email') && _genericValidation.validateControl(forgotPasswordForm, 'email')">Invalid Email Format</span>
          <span class="text-danger" *ngIf="_genericValidation.hasError(forgotPasswordForm, 'email', 'maxlength') && _genericValidation.validateControl(forgotPasswordForm, 'email')">Only 50 characters allowed for email</span>
          <div class="col-12">
            <button class="btn btn-primary rounded-pill w-100" type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
            <button class="btn btn-secondary rounded-pill w-100" (click)="onCancel()">Cancel</button>
          </div>
          <div class="col-12">
            <span [ngClass]="success ? 'text-success' : 'text-danger'">{{ responseMessage }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
