<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title fw-bold text-center">Branches</div>
      </div>
      <div class="card-body">
        <div class="text-end">
          <a class="btn btn-primary" routerLink="/branch/create"><i class="bi bi-plus-square-fill"></i> New</a>
        </div>
        <br/>
        <table class="table table-bordered">
          <thead>
           <tr>
             <th>Name</th>
             <th>Street No</th>
             <th>Province</th>
             <th>City</th>
             <th colspan="2">Action</th>
           </tr>
          </thead>
          <tbody>
            <tr *ngFor="let branch of pagedBranchResult?.data?.content">
              <td>{{ branch.name }}</td>
              <td>{{ branch.streetNo }}</td>
              <td>{{ branch?.province?.name }}</td>
              <td>{{ branch?.city?.name }}</td>
              <td colspan="2">
                <button class="btn btn-primary" type="button" (click)="routeToEdit(branch.id)"><i class="bi bi-pencil-square"></i> Edit</button>
                <button class="btn btn-danger"><i class="bi bi-recycle"></i> Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
